<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Forget password</title>
    {% endblock %}
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <form method="POST">
      <h2>Forgot Password</h2>
      <input
        type="email"
        name="email"
        placeholder="Enter your email address"
        required
      />
      <button type="submit">Send Reset Link</button>
    </form>
  </body>
</html>
