<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Reset password</title>
    {% endblock %}
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <form method="POST">
      <h2>Set New Password</h2>
      <input
        type="password"
        name="password"
        placeholder="New Password"
        required
      />
      <input
        type="password"
        name="confirm_password"
        placeholder="Confirm New Password"
        required
      />
      <button type="submit">Update Password</button>
    </form>
  </body>
</html>
